# Dependencias
node_modules/

# Build
dist/

# Variables de entorno
.env
.env.local
.env.*.local
!.env.example


# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
